<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>112201022_柯詠晴</title>
    <link rel="stylesheet" href="../static/css/112201022_css.css" />
</head>

<body>
    <nav class="navbar">
        <div class="nav-inner">
            <a class="brand" href="112201022_index.html">3 Facts About Me</a>
            <ul class="nav-menu">
                <li><a href="112201022_index.html">首頁</a></li>
                <li><a href="112201022_detail.html">哈利波特</a></li>
                <li class="has-dropdown">
                    <a href="#">連結</a>
                    <ul class="dropdown">
                        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                        <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <h1>3 Facts About Me</h1>
    <table border="1" class="w100">
        <tbody>
            <tr>
                <td width="33%">
                    <a href="112201022_detail.html">
                        <img src="../static/img/S__15122436.jpg" alt="哈" width="100%">
                    </a>
                </td>
                <td width="33%">
                    <a href="112201022_detail.html">
                        <img src="../static/img/Department.jpg" width="100%">
                    </a>
                </td>
                <td width="33%">
                    <a href="112201022_detail.html">
                        <img src="../static/img/harrypotter.jpg" width="100%">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="112201022_detail.html">
                        <h3>Habit: dancing</h3>
                        <p>I learned dance for 8 years.</p>
                    </a>
                </td>
                <td>
                    <a href="112201022_detail.html">
                        <h3>Major: Mathematics</h3>
                        <p>鴻經館</p>
                    </a>
                </td>
                <td>
                    <a href="112201022_detail.html">
                        <h3>Favorite movies</h3>
                        <p>Harry Potter</p>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>