<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Harry Potter</title>
    <link rel="stylesheet" href="../static/css/112201022_css.css" />
</head>

<body>
    <h1>Harry Potter</h1>
    <section aria-labelledby="about-title" class="card">

        <ul>
            <li>是根據作家J·K·羅琳所著同名小說改編的電影系列，是英國與美國合拍的電影，由華納兄弟發行，包括八部奇幻冒險電影!</li>
            <li>主要由大衛·葉慈執導和大衛·海曼監製，演員丹尼爾·雷德克里夫、魯伯特·葛林特及艾瑪·華森分別飾演三位主角：哈利波特、榮恩·衛斯理和妙麗·格蘭傑。</li>
            <li>《哈利波特》系列電影不僅充滿了魔法與冒險，更探討了友情、勇氣、愛與成長等重要主題。</li>

        </ul>
    </section>

    <table border="1" class="w100">
        <tbody>
            <tr>
                <td width="50%">
                    <img src="../static/img/Harry-potter-films.webp" alt="八部電影" width="100%">

                </td>
                <td width="50%">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uTWfs4xq1nA?si=nBk3cEUw5fdVLsKQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </td>

            </tr>

        </tbody>
    </table>
</body>