<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>112201022_柯詠晴（哈利波特）</title>
    <link rel="stylesheet" href="../static/css/112201022_css.css" />
</head>

<body>
    <nav class="navbar">
        <div class="nav-inner">
            <a class="brand" href="112201022_index.html">3 Facts About Me</a>
            <ul class="nav-menu">
                <li><a href="112201022_index.html">首頁</a></li>
                <li><a href="112201022_detail.html">哈利波特</a></li>
                <li class="has-dropdown">
                    <a href="#">連結</a>
                    <ul class="dropdown">
                        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                        <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Harry Potter</h1>

    <ul>
        <li>是根據作家J·K·羅琳所著同名小說改編的電影系列，是英國與美國合拍的電影，由華納兄弟發行，包括八部奇幻冒險電影!</li>
        <li>主要由大衛·葉慈執導和大衛·海曼監製，演員丹尼爾·雷德克里夫、魯伯特·葛林特及艾瑪·華森分別飾演三位主角：哈利波特、榮恩·衛斯理和妙麗·格蘭傑。</li>
        <li>《哈利波特》系列電影不僅充滿了魔法與冒險，更探討了友情、勇氣、愛與成長等重要主題。</li>

    </ul>
    </section>

    <table border="1" class="w100">
        <tbody>
            <tr>
                <td width="50%">
                    <img src="../static/img/Harry-potter-films.webp" alt="八部電影" width="100%">

                </td>
                <td width="50%">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uTWfs4xq1nA?si=nBk3cEUw5fdVLsKQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </td>

            </tr>

        </tbody>
    </table>

    <h2>回饋表單</h2>
    <form action="112201022_index.html" method="get">

        <label for="name">姓名：</label>
        <input type="text" id="name" name="name" placeholder="請輸入姓名">
        <br><br>

        <label for="favorite">最喜歡的角色：</label>
        <select id="favorite" name="favorite">
            <option value="harry">哈利</option>
            <option value="ron">榮恩</option>
            <option value="hermione">妙麗</option>
            <option value="voldemort">佛地魔</option>
        </select>
        <br><br>

        <p>是否看過所有八部電影？</p>
        <input type="radio" id="yes" name="seen" value="yes">
        <label for="yes">是</label>
        <input type="radio" id="no" name="seen" value="no">
        <label for="no">否</label>
        <br><br>

        <p>你喜歡的元素：</p>
        <input type="checkbox" id="magic" name="element" value="magic">
        <label for="magic">魔法</label>
        <input type="checkbox" id="friendship" name="element" value="friendship">
        <label for="friendship">友情</label>
        <input type="checkbox" id="adventure" name="element" value="adventure">
        <label for="adventure">冒險</label>
        <br><br>

        <label for="feedback">留言建議：</label><br>
        <textarea id="feedback" name="feedback" rows="4" cols="40"></textarea>
        <br><br>

        <input type="submit" value="送出">
    </form>
</body>