<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>112201022_柯詠晴</title>
    <link rel="stylesheet" href="../static/css/112201022_css.css" />
</head>

<body>
    <h1>3 Facts About Me</h1>
    <table border="1">
        <tbody>
            <tr>
                <td>
                    <a href="112201022_detail.html">
                        <img src="../static/img/S__15122436.jpg" alt="哈" width="540">
                    </a>
                </td>
                <td>
                    <a href="112201022_detail.html">
                        <img src="../static/img/Department.jpg" width="540">
                    </a>
                </td>
                <td>
                    <a href="112201022_detail.html">
                        <img src="../static/img/harrypotter.jpg" width="540">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="112201022_detail.html">
                        <h3>Habit: dancing</h3>
                        <p>I learned dance for 8 years.</p>
                    </a>
                </td>
                <td>
                    <a href="112201022_detail.html">
                        <h3>Major: Mathematics</h3>
                        <p>鴻經館</p>
                    </a>
                </td>
                <td>
                    <a href="112201022_detail.html">
                        <h3>Favorite movies</h3>
                        <p>Harry Potter</p>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>