<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>購物⾞</title>
    <link rel="stylesheet" href="../static/112201022_js_4.css" />
    <script src="../static/112201022_js_4.js" defer></script>
</head>

<body>
    <h1>購物⾞</h1>
    <table id="cart">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkAll"></th>
                <th>商品名稱</th>
                <th>商品庫存</th>
                <th>單價</th>
                <th>數量</th>
                <th>總計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="item"></td>
                <td><img src="../static/img/iphone-17.jpg">iPhone 17</td>
                <td>50</td>
                <td class="price">$29,900</td>
                <td>
                    <button class="minus">-</button>
                    <input type="number" class="qty" value="1" min="1">
                    <button class="plus">+</button>
                </td>
                <td class="subtotal"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="item"></td>
                <td><img src="../static/img/iphone-17pro.jpg">iPhone 17 Pro</td>
                <td>15</td>
                <td class="price">$39,900</td>
                <td>
                    <button class="minus">-</button>
                    <input type="number" class="qty" value="1" min="1">
                    <button class="plus">+</button>
                </td>
                <td class="subtotal"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="item"></td>
                <td><img src="../static/img/iphone-air.jpg">iPhone Air</td>
                <td>5</td>
                <td class="price">$44,900</td>
                <td>
                    <button class="minus">-</button>
                    <input type="number" class="qty" value="1" min="1">
                    <button class="plus">+</button>
                </td>
                <td class="subtotal"></td>
            </tr>
            <tr>
                <td colspan="5">Total</td>
                <td class="total"></td>
            </tr>
        </tbody>

        </tbody>
    </table>
    <button id="checkout">結帳</button>
</body>

</html>