<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>購物⾞</title>
    <link rel="stylesheet" href="../static/112201022_js_4.css" />
    <script src="../static/112201022_js_4.js"></script>
</head>

<body>
    <h1>購物⾞</h1>
    <table id="cart">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkAll"></th>
                <th>商品名稱</th>
                <th>商品庫存</th>
                <th>單價</th>
                <th>數量</th>
                <th>總計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="item">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="item">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="item">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="item">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="item">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" class="item">
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>